<!DOCTYPE html>
<html>
<head>
  <title>SprocketsProfiler</title>
  <%= stylesheet_link_tag    "sprockets_profiler/application", media: "all" %>
  <%= javascript_include_tag "sprockets_profiler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
